@use 'variables'as var;

/** Media Queries **/
@mixin telefono {
    @media (min-width: var.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: var.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: var.$desktop) {
        @content;
    }
}

@mixin button($bgColor, $txtColor) {
    background-color: $bgColor;
    border-radius: .5rem;
    color: $txtColor;
    cursor: pointer;
    font-size: var.$large;
    font-weight: var.$bold;
    padding: 1.5rem 3rem;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: darken($color: $bgColor, $amount: 10%);
    }
}

@mixin badge {
    
}