$font_main: 'Inconsolata', sans-serif, arial;

// Sise for Media Queries
$cellphone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

// Color base
$prussian_blue: #023047;
$blue_green: #219EBC;
$sky_blue: #8ECAE6;
$alice_blue: #DEE8EC;
$white: #F3FCFF;
$selective_yellow: #FFB703;
//$seasalt: #F7F7F7; opcional a blanco y a validarse

$spacing: 5rem;

// Fonts
$delgada: 300;
$normal : 400;
$bold: 700;
$dark: 900;

// Size Fonts
$x-small: 1.2rem;
$small: 1.4rem;
$regular: 1.6rem;
$large: 1.8rem;
$x-large: 2.2rem;