@use 'base/variables'as var;
@use 'base/mixins'as mxs;

.skills__container {
  display: flex;
  flex-wrap: wrap;
  gap: var.$spacing;
  justify-content: center;
  margin-top: calc(var.$spacing * 1.5);

  @include mxs.desktop {
    justify-content: space-between;
  }
}